h1 a {
    font-family: 'Lobster';
    text-decoration: none;
    text-decoration: none!important;
}

body{
    background-color: #e9ecef;
}

.none{
    text-decoration: none!important;
    color: #000000;
}

.page-header {
    background-color: #17a2b8;;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.faqs-box, .related-articles {
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
    border: none;
    margin-bottom: 40px;
    padding: 30px 30px 20px;
    /*text-align: center;*/
    transition: all .25s ease;
}

.p-nuevo{
    background: #800080;
    text-transform: uppercase;
    font-weight: 200!important;
    border-radius: 5px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.p-small{  
    text-transform: capitalize;
    font-size: 20px!important;
    font-weight: bold;
}