
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
            <div class="card">
            <div class="body">
                  
            </div>
            </div>
            </div>
        </div>
    </div>
</body>
</html>

{% load static %}
<html>
    <head>
        <title>Posits</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{% static 'css/notas.css' %}">
    </head>
    <body>

        <div class="page-header">
            
            <h1>
                <a href="/">Posits</a>
                {% if user.is_authenticated %}
                <button type="button" class="p-nuevo btn-dark btn-xs float-right btn-outline-dark">
                    <a class="p-small" href="{% url 'post_new' %}">añadir posit</a>
                </button>
                <hr>
                <small class="p-small">Bienvenido {{user}} !!</small>
                {% else %}
                <button type="button" class="p-nuevo btn-dark btn-xs float-right">
                        <a title="Inicie sesion para poder publicar posits" class="p-small" href="admin/">Inicie sesion</a>
                </button>
                {% endif %}
            </h1>

        </div>

        <div class="container-fluid">
            
                {% block content %}
                {% endblock %}
              
        </div>

    </body>
</html>
