{% extends 'notas/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="my-3 faqs-box">
        <div class="header">
           <h3>
               <a title="ver detalle del post" class="none" href="{% url 'post_detail' pk=post.pk %}"><i>{{ post.title }}</i></a> 
           </h3>
           
        </div>
        <div class="body">
            <blockquote class="blockquote mb-0">
            <small>{{ post.text|linebreaksbr }}</small>
            <footer class="blockquote-footer text-primary"><cite title="fecha de publicación"><small class="text-primary">Publicado el {{ post.published_date }}</small></cite><!----<small title="autor de la publicación" class="text-muted float-right">* {{ post.author }}</small--></footer>
            </blockquote>
        </div>
        </div>
    {% endfor %}
{% endblock %}