{% extends 'notas/base.html' %}

{% block content %}

   
        <div class="faqs-box my-3">
            <div class="text-muted">
                <h3>
                    <i>Detalle del posit</i> 
                   
                </h3>
                {% if user.is_authenticated %}
                <button class="btn btn-light btn-xs"><a class="none text-primary" href="{% url 'post_edit' pk=post.pk %}">editar posit</a></button>
                {% endif %}
            </div>
            <div class="card-body text-info">
                <small class="text-muted">Título:</small>
                <h5 class="card-title">{{ post.title }}</h5>
                <small class="text-muted">Contenido:</small>
                <p class="card-text">{{ post.text|linebreaksbr }}</p>
                {% if user.is_authenticated %}
                <small class="text-muted">Autor:</small>
                <p class="card-text">{{ post.author }}</p>
                {% endif %}
                <small class="text-muted">Fecha de creación:</small>
                <p class="card-text">{{ post.created_date }}</p>
                <small class="text-muted">Fecha de publicación:</small>
                {% if post.published_date %}
                <p class="card-text">{{ post.published_date }}</p>
                {% endif %}
                <a href="/" class="none text-primary float-right">volver al listado de posits</a>
            </div>
            
        </div>
   

{% endblock %}